body{     

			background-image: url("../css/image/w.png");
			background-repeat:repeat;


		}
.div{
    
    margin-left:10px; 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    opacity: 0.8;
    width: 90%;
}

	.pic{
		border-color: grey;
		border-style: solid;
		border-radius: 40px;
		height: 300px;
		width: 300px;
	}
	input[type=text],select {
    width: 70%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=comment],select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=date],select {
    width: 40%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=del], select {
    width: 70%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=file] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: -20px;
    margin-left: 60px;
    opacity: 0.8;

}
form{
	font-family: courier;
	font-size: 20px;
}
		h1{
	margin-bottom: 20;
   letter-spacing: 4px;
   font-size: 50px;
   color: white;
   text-decoration: underline;
   text-decoration-color: white;

}
img{
    height: 100px;
    width: 100px;
    margin-top: 40px;
}
.field{
    margin-left: 170px;
    
}
a:link, a:visited {
  background-color: #4CAF50;
    color: white;
    padding: 11px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
}

