body{
  height: 100vh;
  background: linear-gradient(maroon,black);
  background-repeat: no-repeat;
}

.login {
  margin-top: 10vh;
}

.login img{
  /*margin-top: 20px;*/
  /*height: 600px;*/
  /*margin-left: 50px;*/
}
.login input[type=text], select ,input[type=password] {
  width: 60%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: courier;
  font-weight: bold;
}
.login .container:not(.no-bg) {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  /*width: 400px;*/
  /*height: 350px;*/
  opacity: 0.7;
  /*margin-top: -500px;*/
  /*margin-left: 770px;*/
  font-size: 20px;
  font-family: courier;
  font-weight: bolder;
}
.login input[type=submit],
.login .submit {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: courier;
  font-weight: bolder;
}

.login input[type=submit],
.login .submit:hover {
background-color: #45a049;
}

.login .form {
  margin-bottom: 20px;
}

.login .form-field {
  margin-bottom: 5px;
}

.login .logo {
  /*margin-right: 5px;*/
}
.login .main-form {
  /*margin-left: 5px;*/
}
.logo img{
  height: 500px;
  width: 500px;
  margin-left: 20px;
}
.form-field{
  margin-top: 30px;
}
.container main-form col-md-6{
margin-top: 20px;
}