body{
			background-image: url("../css/image/w.png");
      height: 100vh;
			background-repeat: no-repeat;
		}

	.head{
		background-color: gray;
		height: 80px;
		width: 1365px;
		margin-top: -20px;
		margin-left: -10px;
		opacity:0.3;
		}	

	.title{
   		margin-top:-70px;
   		margin-left: 70px;
   		font-family: courier;
		font-size: 40px;
		color: white;

		}
	
	
	img{
		height: 500px;
		width: 500px;
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    margin-left: -10px;
    margin-right: -8px;
    height: 60px;
    opacity: 0.7;
    position: sticky;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
img{
  height: 50px;
  width: 50px;
  margin-top: -20px;
}
#myTable {
  margin-top: -20px;
  background-color: white;
  position: absolute;
  top: 180px;
  margin-left: 5px;
    border-collapse: collapse; /* Collapse borders */
    width: 40%;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 15px; /* Increase font-size */
  opacity: 0.8;
}


#myTable th, #myTable td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}
#myTablex2 td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
h1{
  margin-left: 140px;
   letter-spacing: 4px;
   font-size: 50px;
   color: white;
   text-decoration: underline;
   text-decoration-color: white;
   font-style: Courier;
}
h2{
   letter-spacing: 4px;
   font-size: 50px;
   color: white;
   text-decoration: underline;
   text-decoration-color: white;
    font-style: Courier;
}

#myTable1 {
  margin-top: -20px;
  background-color: white;
  position: absolute;
  top: 100px;
  margin-left: 30px;
  margin-right: 10px;
  border-collapse: collapse; /* Collapse borders */
  width: 90%;
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 15px; /* Increase font-size */
  opacity: 0.8;
  float: left;
}


#myTable1 th, #myTable1 td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}
#myTablex2 td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable1 tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable1 tr.header, #myTable1 tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.base-table {
  margin-top: 10px;
}
.calendar{
  margin-top: -60px;
  float: right;
  background-color: white;
}
