/*font*/
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../font/google-font/Pacifico-Regular.ttf');
  src: url('../font/google-font/Pacifico-Regular.ttf') format('ttf'), url('../font/google-font/Pacifico-Regular.ttf') format('truetype');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../font/google-font/Pacifico-Regular.ttf');
  src: url('../font/google-font/Pacifico-Regular.ttf') format('ttf'), url('../font/google-font/Pacifico-Regular.ttf') format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../font/google-font/Pacifico-Regular.ttf');
  src: url('../font/google-font/Pacifico-Regular.ttf') format('ttf'), url('../font/google-font/Pacifico-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Just Another Hand';
  font-style: normal;
  font-weight: 400;
  src: url('../font/google-font/Just/font2.ttf');
  src: url('../font/google-font/Just/font2.ttf') format('ttf'), url('../font/google-font/Just/font2.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*font end*/


body{
	padding: 0px;
	margin: 0px;
	border: 0px;
	height:100vh;

	
}
.bartop{
	position: absolute;
	width: 100%;
	height: 50px;
	left: 0px;
	top: 0px;

	
	background-color: ;

}
#shop{
	position: absolute;
	top: 30px;
	left:480px;
	font: 400 35px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
#address2{
	top: -30px;
	position: absolute;
	left: 500px;
	font-family: 'Pacifico';
	font-size: 18px;
	font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: black;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
#address2x{
	top: -30px;
	position: absolute;
	left: 380px;
	font-family: 'Pacifico';
	font-size: 18px;
	font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

#address2ysx{
	top: -30px;
	position: absolute;
	left: 380px;
	font-family: 'Pacifico';
	font-size: 18px;
	font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

#address{
	left: 580px;
	
	font-size: 18px;
	color: white;
}
#cake1{
	position: absolute;
	top: 60px;
	left: 380px;
	height: 200px;
	width: 200px;
}
#textcake{
	position: absolute;
	top: 40px;
	left: 75%;
	font: 400 75px/0.8 'Just Another Hand', Helvetica, sans-serif;
  color: white;
  -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
  
}
.borderlog{
	position: absolute;
	top: 200px;
	left: 390px;
	background: white;
	border-radius: 10px;
	height: 300px;
	width: 600px;	
	border-style: inset;
	border-color: black;
	border-width: 1px;

}
#textcake2{
	position: absolute;
	top: 280px;
	left: 100px;
	font: 400 75px/0.8 'Just Another Hand', Helvetica, sans-serif;
  color: white;
  -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
  
}
#textcake3{
	position: absolute;
	top: 20px;
	left: 200px;
	font: 400 75px/0.8 'Just Another Hand', Helvetica, sans-serif;
  color: white;
  -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
  
}

#textcake4{
	position: absolute;
	top: 320px;
	left: 1100px;
	font: 400 75px/0.8 'Just Another Hand', Helvetica, sans-serif;
  color: white;
  -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
  
}
#textcake5{
	position: absolute;
	top: 480px;
	left: 600px;
	font: 400 75px/0.8 'Just Another Hand', Helvetica, sans-serif;
  color: white;
  -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
  
}

.bordertoplog{
	position: absolute;
	background: black;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	top: 0px;
	width: 100%;
	height: 40px; 
}

#user{
	z-index: 1;
	position: absolute;
	top: 50px;
	left: 20px;
	
	font-size: 25px;
	color: black
}
#loginp1{
	z-index: 1;
	position: absolute;
	top: 73px;
	left: 150px;
	height: 30px;
	text-align: center;	
}

#loginp2{
	z-index: 1;
	position: absolute;
	top: 153px;
	left: 150px;
	height: 30px;	
	text-align: center;		
}

#loginp3{
	z-index: 1;
	position: absolute;
	top: 230px;
	left: 180px;
	height: 30px;
	width: 100px;	
}

.menu1{

	position: absolute;
	top: 60px;
	left: 130px;
	background-color: #edf0f4;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
	
}

.menu2{
	position: absolute;
	top: 60px;
	left: 350px;
	background-color: #edf0f4;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
}
.menu2x{
	position: absolute;
	top: 60px;
	left: 350px;
	background-color: #f4e1d2;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
}	

.menu3{
	position: absolute;
	top: 60px;
	left: 580px;
	background-color: #edf0f4;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
}
.menu3x{
	position: absolute;
	top: 60px;
	left: 580px;
	background-color: #f4e1d2;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
}
.menu4{
	position: absolute;
	top: 150px;
	right: 280px;
	background-color: #edf0f4;
	height: 450px;
	width: 820px;
	border-radius: 30px;
	box-shadow: 10px 10px 10px black;
	box-shadow: 5px 25px 25px 0px black;
}
.menu5{
	position: absolute;
	top: 60px;
	left: 810px;
	background-color: #edf0f4;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
}
.menu5c{
	position: absolute;
	top: 60px;
	left: 810px;
	background-color: #f4e1d2;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
}
.menu5x{
	position: absolute;
	top: 60px;
	left:1040px;
	background-color: #edf0f4;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
}
.menu5xc{
	position: absolute;
	top: 60px;
	left:1040px;
	background-color:#f4e1d2;
	height: 50px;
	width: 180px;
	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: inset;
	box-shadow: 0px 5px 15px 0px black;
}

.menu41{

	position: absolute;
	top: 200px;
	left: 410px;
	background-color: #edf0f4;
	height: 270px;
	width: 37%;
	box-shadow: 5px 5px 10px black;
	border-radius: 30px;
	border-color: black;
	border-width: 1px;
	border-style: inset;

}
.menu1:hover,.menu2:hover,.menu3:hover,.menu5:hover,.menu5x:hover{
	background-color: #f4e1d2;
}
	

#textmenubar{
	position: absolute;
	top: -5px;
	left: 10px;
	font-family: 'Arial'; 
	font-size: 20px;
	color: black;
	
}
#textmenubar:hover{
	color: black;
}
#titlemenu{
	position: absolute;
	top: 100px;
	left: 200px;
	font: 400 75px/0.8 'Just Another Hand', Helvetica, sans-serif;
  color: #cccc00;
  -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}
#browny{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	border-style: outset;
	border-color: orange;
	border-radius: 20px;
	border-width: 5px;
}

.trans1{
	position: absolute;
	top: 100px;
	left: 20px;
	background-color: #edf0f4;
	height: 320px;
	width: 600px;
	border-style: solid;
	border-color: black;
	box-shadow: 0px 10px 25px 0px black;
	
}
.trans2{
	position: absolute;
	top: 100px;
	left: 650px;
	background-color:#edf0f4;
	height: 509px;
	width: 690px;
	border-style: solid;
	border-color: black;
	box-shadow: 0px 10px 25px 0px black;
	background-color: #edf0f2;
}
.trans3{

	position: absolute;
	top: 450px;
	left: 20px;
	background-color: #edf0f4;
	height: 160px;
	width: 600px;
	border-style: solid;
	border-color: black;

	box-shadow: 0px 10px 25px 0px black;
}
.customer{
	position: absolute;
	top: 20px;
	left: 50px;
}
#cust{
	

}
#fil1{
	position: absolute;
	top: 12px;
	left: 130px;
	width: 250px;
}
.posbar{
	z-index: 1;
	position: absolute;
	top: 80px;
	left: 50px;
	border-color: black;
	border-width: 2px;
	border-style: inset;
	height: 380px;
	width:750px;
	
}
#prodname{
	position: absolute;
	top: 35px;
	left: 20px;
	font-size: 18px;
}
#pfil1{
	position: absolute;
	top: 52px;
	left: 175px;
	width: 300px;
}
#prodid{
	position: absolute;
	top: 75px;
	left: 20px;
	font-size: 18px;
}
#pfil2{
	position: absolute;
	top: 92px;
	left: 175px;
	width: 300px;
}
#prodprice{
	position: absolute;
	top: 115px;
	left: 20px;
	font-size: 18px;
}
#pfil3{
	position: absolute;
	top: 132px;
	left: 175px;
	width: 300px;
}
#prodstock{
	position: absolute;
	top: 157px;
	left: 20px;
	font-size: 17px;
}
#pfil3x{
	position: absolute;
	top: 172px;
	left: 175px;
	width: 300px;
}
#pfil4{
	position: absolute;
	top: 215px;
	left: 150px;
	width: 80px;
	height: 40px;
}
#pfil5{
	position: absolute;
	top: 215px;
	left: 250px;
	width: 80px;
	height: 40px;
}
#prodtitle{
	position: absolute;
	left: 155px;
	top:-10px;
	
	font-size: 25px;
}
#prodtitlex{
	position: absolute;
	left: 115px;
	top:-10px;
	
	font-size: 25px;
}
#tablepos{
	position: absolute;
	top: 0px;
	left: 5px;
}
#t1{
	position: absolute;
	top: 20px;
	left: 30px;
	
	font-size: 20px;
}
#inp1{
	position: absolute;
	top: 35px;
	left: 220px;
	height: 25px;
	width: 250px;
	text-align: center;	
}
#but1{
	position: absolute;
	top:35px;
	left: 500px;
	height: 25px;
	width: 80px;
}
#but2{
	z-index: 1;
	position: absolute;
	top: -70px;
	right: -720px;
	height: 40px;
	width: 150px;
	font-size: 15px;
	
}
#it1{
	position: absolute;
	top: 80px;
	
	font-size: 25px;
	left: 30px;

}
#dis1{
	position: absolute;
	top: 105px;
	text-align: center;	
	font-size: 20px;
	left: 220px;
}
#it2{
	position: absolute;
	top: 120px;
	
	font-size: 25px;
	left: 30px;

}
#dis2{
	position: absolute;
	top: 145px;
	text-align: center;	
	font-size: 20px;
	left: 220px;	
}
#loltxt{
	position: absolute;
	top: 180px;
	
	font-size: 25px;
	left: 30px;

}

#lolq{
	position: absolute;
	top: 205px;
	text-align: center;	
	left: 250px;
	height: 30px;	
}
#lol2{
	position: absolute;
	top: 280px;
	left: 120px;
	height: 25px;
	width: 100px;
}
#table1{
	width: 100%;
	font-family: tahoma;
	border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid black; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
}
#table1 th, #table1 td {
    text-align: center; /* Left-align text */
    padding: 0px; /* Add padding */
}

#table1 tr {
	text-align: center;
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#table1 tr.header, #table1 tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#table11{
	width: 500px;
	font-family: tahoma;
	border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid black; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
}
#table11 th, #table11 td {
    text-align: center; /* Left-align text */
    padding: 2px; /* Add padding */
}

#table11 tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#table11 tr.header, #table11 tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#totalbill{
	z-index: 1;
	position: absolute;
	top: 385px;
	left: -620px;
	
	font-size: 25px;
}

.check1{
	position: absolute;
	top: 100px;
	left: 20px;
	background-color: #edf0f4;
	height: 500px;
	width: 710px;
	border-style: solid;
	border-color: black;
}

#ctable{
	width: 100%;
	font-family: tahoma;
	border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid black; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
}
#ctable th, #ctable td {
    text-align: left; /* Left-align text */
    padding: 2px; /* Add padding */
}

#ctable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#ctable tr.header, #ctable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#totalbillecho{
	position: absolute;
	z-index: 1;
	top:-05px;
	
	font-size: 35px;
	left: 20px;

}
.blitz1{
	
	position: absolute;
	top: 0px;
	left: 740px;
	background-color: white;
	height: 100px;
	width: 575px;
	border-style: solid;
	border-color: black;
	background-color: #edf0f4;
}
.blitz2{
	
	position: absolute;
	top: 130px;
	left: 740px;
	background-color: white;
	height: 368px;
	width: 575px;
	border-style: solid;
	border-color: black;
	background-color: #edf0f4;		
}
#custm{
	position: absolute;
	font-size: 20px;
	position: absolute;
	top: -10px;
	left: 150px;
}
#coutinp1{
	position: absolute;
	top: 50px;
	height: 100px;
	width: 100%;
	font-size: 50px;
	text-align: center;	
}
#custm2{
	position: absolute;
	font-size: 20px;
	position: absolute;
	top: 50px;
}
#coutinp2{
	position: absolute;
	top: 100px;
	height: 100px;
	width: 100%;
	left: 0px;
	font-size: 50px;
	text-align: center;		
}
#proceed1{
	position: absolute;
	top: 250px;
	left: 200px;
	height: 75px;
	width: 180px;
	font-size: 20px;
}
.bod1{
	position: absolute;
	height: 470px;
	width: 600px;
	background-color: #edf0f2;
	top:150px;
	left: 120px;
	border-style: solid;
	border-color: black;
}
.bod1x{
	position: absolute;
	height: 470px;
	width: 500px;
	background-color: #edf0f2;
	top:100px;
	left: 30px;
	border-style: solid;
	border-color: black;
}
#endreceipt{
	position: absolute;
	top: 450px;
	left: 950px;
	height: 100px;
	width: 250px;
	font-size: 30px;	
}
#endreceiptx{
	position: absolute;
	top: 250px;
	left: 1090px;
	height: 100px;
	width: 250px;
	font-size: 30px;	
}

.bod2{
	position: absolute;
	height: 250px;
	width: 420px;
	background-color: #edf0f2;
	top:150px;
	left: 850px;
	border-style: solid;
	border-color: black;
}
.bod2x{
	position: absolute;
	height: 470px;
	width: 420px;
	background-color: #edf0f2;
	top:100px;
	left: 600px;
	border-style: solid;
	border-color: black;
}
#lolname{
	position: absolute;
	top: -10px;
	font-size: 20px;
}
#lolname1{
	position: absolute;
	top: 20px;
	font-size: 20px;
}
#lolname2{
	position: absolute;
	top: 50px;
	font-size: 20px;
}
#lolname6{
	position: absolute;
	top: 55px;
	font-size: 20px;
}

#lolname3{
	position: absolute;
	top: 140px;
	font-size: 30px;
}
#lolname4{
	position: absolute;
	top: 200px;
	font-size: 30px;
}
#lolname5{
	position: absolute;
	top: 260px;
	font-size: 30px;
}
#myInput {
	background-color: #f1f1f1;
	position: absolute;
	top: 80px;
 	right: 0px;
   
    width: 450px; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
   
    margin-bottom: 12px; /* Add some space below the input */
   
    border-style: solid;
    border-color: black;
}

#myInputnunu {
	background-color: #f1f1f1;
	position: absolute;
	top: 150px;
 	left: 500px;
   height: 46px;
    width: 240px; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
   
    margin-bottom: 12px; /* Add some space below the input */
   
    border-style: solid;
    border-color: black;
}




#myTableb {
	
z-index: 99;
	background-color: white;
	position: relative;
	top:70px;
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTableb th, #myTableb td {
    text-align: center; /* Left-align text */
    padding: 2px; /* Add padding */
}


#myTableb tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTableb tr.header, #myTableb tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

/* */
#myTable {
	

	background-color: white;
	position: absolute;
	top: 180px;
	margin-left: -2px;
    border-collapse: collapse; /* Collapse borders */
    width: 99%;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}
#myTablex2 td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#myTablex {
	background-color: white;
	position: absolute;
	top: 250px;
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTablex th, #myTablex td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTablex tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTablex tr.header, #myTablex tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#myTablexx {
	background-color: white;
	position: absolute;
	top: 200px;
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTablexx th, #myTablexx td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTablexx tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTablexx tr.header, #myTablexx tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#posis{
	position: absolute;
	top: 50px;
}
#nux{
	position: absolute;
	left: 20px;
	top:100px;
	background-color: black;
	color: white;
	font-family: Tahoma;
	font-size:50px;
	border-style: solid;
	height: 65px;
	width: 700px;
}
#button1{
	position: absolute;
	top: -70px;
	height: 40px;
	width: 150px;
}

#button1x{

	position: absolute;
	top: -180px;
	left: -745px;
	height: 40px;
	width: 150px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.homme{
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 60px;
}
.homme:hover{
	background-color: grey;
}
#homepic{
	height: 60px;
	width: 60px;
}

#logoutx{
	position: absolute;
	top: 616px;
	left: 1265px;
	width: 100px;
	height: 30px;
}
#nolnol{
	position: absolute;
	
	top: 70px;
	width: 100%;
}
#dailybut{
	position: absolute;
	top: 150px;
	left: 750px;
	height: 70px;
	width: 150px;
}
#backxxx{
	position: absolute;
	top: 80px;
 	
   
    width: 200px; /* Full-width */
   height: 45px;
    
   
    margin-bottom: 12px; /* Add some space below the input */
   
    border-style: solid;
    border-color: black;
}

.head{
		background-color: gray;
		height: 80px;
		width: 1365px;
		margin-top: -20px;
		margin-left: -10px;
		opacity:0.3;
		}	

	.title{
   		margin-top:-70px;
   		margin-left: 70px;
   		font-family: courier;
		font-size: 40px;
		color: white;

		}
	


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    height: 60px;
    opacity: 0.7;
    position: sticky;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color :#f3f3f3;
}


input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
}

.base-table {
    margin-top: -20px;
    background-color: white;
    margin-left: 5px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 15px;
    opacity: 0.8;
}

.base-table th, .base-table td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

.base-table tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

.base-table tr.header, .base-table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}